<div class="container">
  <h1>L'univers</h1>

  <h2>C'est quoi Star Wars ?</h2>

  <p>
    Star Wars est un univers créé par le cinéaste Georges Lucas.
    Sortie en en 1977, le film "La guerre des étoiles" est premier épisode d'une trilogie, Star Wars devient rapidement
    une saga culte, qui met en place les racines d'un univers mêlant la science-fiction et la fantasy.
  </p>

  <h2>La saga</h2>

  <p>
    L'importante galerie de personnages, humains comme extraterrestres, mais aussi les spécificités de cet univers de "space opera", 
    comme l'existence de la Force ou encore les sabres lasers, ont conféré à l'univers créé par George Lucas sa propre aura, à l'origine de l'immense succès de ses films. 
    Ayant lancé sa propre compagnie, Lucasfilm, le réalisateur a étendu son univers à de nombreux autres supports : romans, jeux vidéo, dessins animés, produits dérivés, etc.  
  </p>

  <app-graph></app-graph>

  <h2>Le renouveau de la saga</h2>
  <p>
    En 2012, la licence Star Wars est rachetée par la Walt Disney company pour 4 milliards de dollars. 
    Elle lance alors une nouvelle trilogie, avec un premier film en 2015, Le Réveil de la Force, puis Les Derniers Jedi en 2017 et enfin L'Ascension de Skywalker en 2019. 
    La firme en profite également pour lancer plusieurs autres films se déroulant dans l'univers Star Wars, ainsi qu'une série, The Mandalorian, 
    et a d'ores et déjà annoncé sa volonté de créer une nouvelle trilogie. 
  </p>
</div>
