<div class="container">
  <h1>L'univers</h1>

  <h2>C'est quoi Star Wars ?</h2>

  <p>
    Star Wars ou La Guerre des étoiles, est une saga cinématographique de science-fiction créée par George Lucas,
    emblématique d'un genre que l'on nomme space opera et constituée de 11 films dont le premier, Le nouvel espoire, est sortie en 1977.
  </p>
  <p>
    L'univers de Star Wars se déroule « il y a bien longtemps, dans une galaxie lointaine » et est le théâtre d'un affrontement incessant entre le Bien et le Mal.
    Le Bien est défendu par l’Ordre Jedi, une caste de sages-guerriers, moines soldats, aux nombreux pouvoirs psychiques (télékinésie, prescience, etc.)
    qu'ils tirent de ce qu'ils nomment la Force.
    Mais celle-ci participe d'une dualité présentant un Côté Clair (ou lumineux), utilisé par les Jedi, et un Côté Obscur.
    Les tenants du côté obscur sont les Jedi noirs, dont notamment les Seigneurs des Sith, appelés ainsi car, il y a très longtemps,
    ils avaient à leur service le peuple Sith.
    La colère, la haine, la peur peuvent mener les Jedi vers le côté obscur de la Force s'ils ne sont pas capables de dominer ces pulsions.
  </p>

  <h2>La saga</h2>

  <p>
    L'importante galerie de personnages, humains comme extraterrestres, mais aussi les spécificités de cet univers de
    "space opera",
    comme l'existence de la Force ou encore les sabres lasers, ont conféré à l'univers créé par George Lucas sa propre
    aura, à l'origine de l'immense succès de ses films.
    Ayant lancé sa propre compagnie, Lucasfilm, le réalisateur a étendu son univers à de nombreux autres supports :
    romans, jeux vidéo, dessins animés, produits dérivés, etc.
  </p>

  <app-graph></app-graph>

  <h2>Le renouveau de la saga</h2>
  <p>
    En 2012, la licence Star Wars est rachetée par la Walt Disney company pour 4 milliards de dollars.
    Elle lance alors une nouvelle trilogie, avec un premier film en 2015, Le Réveil de la Force, puis Les Derniers Jedi
    en 2017 et enfin L'Ascension de Skywalker en 2019.
    La firme en profite également pour lancer plusieurs autres films se déroulant dans l'univers Star Wars, ainsi que deux
    séries, The Mandalorian et Le livre de Bobba Fett,
    et a d'ores et déjà annoncé sa volonté de créer une nouvelle trilogie de films.
  </p>
</div>
