h1 {
  text-align: center;
}

.container {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1em;
}

@media screen and (max-width: 800px) {
  .container {
    margin: 1em;
  }
}

@media screen and (min-width: 576px) and (max-width: 768px) {
  .container {
    max-width: 540px;
  }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
  .container {
    max-width: 720px;
  }
}

@media screen and (min-width: 992px) and (max-width: 1200px) {
  .container {
    max-width: 960px;
  }
}

@media screen and (min-width: 1200px) and (max-width: 1400px) {
  .container {
    max-width: 1140px;
  }
}

@media screen and (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
}

.mat-drawer-content {
  padding: 10px 10px;
}
