<div>
  <h1>L'univers</h1>

  <h2>C'est quoi Star Wars ?</h2>

  <p>
    Star Wars est un univers créé par le cinéaste Georges Lucas.
    Sortie en en 1977, le film "La guerre des étoiles" est premier épisode d'une trilogie, Star Wars devient rapidement
    une saga culte, qui met en place les racines d'un univers mêlant la science-fiction et la fantasy.
  </p>

  <h2>La saga</h2>

  <p>
    Après le troisième film, le retour du Jedi (l'épisode 6), l'univers de Stars Wars est sortie du cadre
    cinématographique pour sétendre aux bandes dessinées, comics, roman et jeux vidéos avant d'avoir droit à des séries
    animées puis en réel.
    La saga Star Wars compte aujoud'hui 11 films, un film hors série de noel et 2 films sur les Ewoks et 7 séries.
  </p>

  <app-graph></app-graph>
</div>
