<div class="card-wrapper">
  <mat-card>
    <img *ngIf="question.image" [src]="question.image" alt aria-hidden="true" mat-card-image>
    <mat-card-title>
      <label id="question">{{question.question}}</label>
    </mat-card-title>

    <mat-card-content>
      <mat-radio-group [(ngModel)]="answerIndex">
        <mat-radio-button *ngFor="let answer of question.answers; let i = index"
                          [value]="i"
                          aria-labelledby="question"
                          class="radio-block mat-radio-button mat-radio-ripple"
        ><span class="wrap-text">{{answer}}</span>
        </mat-radio-button>
      </mat-radio-group>

    </mat-card-content>

    <mat-card-actions align="end">
      <button (click)="onSubmitQuestion()"
              aria-label="Passer à la prochaine question"
              color="primary"
              mat-fab
              type="button"
      >
        <mat-icon>arrow_forward_ios</mat-icon>
      </button>
    </mat-card-actions>
  </mat-card>
</div>
