section {
  display: flex;
  justify-content: center;
  align-content: center;
}

.radio-block {
  display: block;
  margin-top: 0.5em;
}

mat-card {
  width: 600px;
  border-radius: 25px;
  margin: 1em;
}
