div {
  margin: 1em;
}

mat-card {
  width: auto;
  max-width: 600px;
  margin-bottom: 8px;
  margin-left: auto;
  margin-right: auto;
}

.radio-block {
  display: block;
  margin-top: 0.5em;
  width: auto;
}

.mat-card img {
  width: 100%;
  height: auto;
}

