app-sidenav {
  display: flex;
}

mat-drawer-container {
  flex: 1 1 auto;
}

.sidenav_container {
  min-height: calc(100vh - 64px) !important;
}

.active-list-item,
.active-list-item:hover {
  background-color: yellow;
}
